.silex-workspace
  // file explorer
  iframe#silex-file-explorer.notranslate(
    frameborder='no',
    scrolling='no',
    allowfullscreen='yes',
    data-ce-unifile-url='api/1.0/',
    data-ce-path='/libs/cloud-explorer/')

  // menu
  include ./menu.jade

  // vertical splitter
  .vertical-splitter
    .knob

  // properties tool
  .silex-property-tool.notranslate
    include ./property-tool.jade

  // stage
  .silex-stage
    // notranslate is to prevent chrome automatic translation
    iframe#silex-stage-iframe.silex-stage-iframe.notranslate

  // bread crumbs
  .silex-bread-crumbs

  // dialogs background
  .dialogs-background
  .silex-modal-dialogs-background

  // settings
  .silex-settings-dialog.hidden-dialog
    include ./settings-dialog.jade

  // newwebsite
  .silex-newwebsite-dialog
    include ./newwebsite-dialog.jade

  // html editor
  .silex-html-editor.ace-editor-container.notranslate.hidden-dialog
    .title-bar HTML editor
      a.help-icon(href='https://github.com/silexlabs/Silex/issues/199', title='about Silex and HTML', target='_blank') Help
    .ace-editor
    .dock-btn.buttons
    .close-btn.html-editor-close-btn.buttons

  // css editor
  .silex-css-editor.ace-editor-container.notranslate.hidden-dialog
    .title-bar CSS editor
      a.help-icon(href='https://github.com/silexlabs/Silex/issues/184', title='about Silex and CSS', target='_blank') Help
    .ace-editor
    .dock-btn.buttons
    .close-btn.css-editor-close-btn.buttons

  // js editor
  .silex-js-editor.ace-editor-container.notranslate.hidden-dialog
    .title-bar JS editor
      a.help-icon(href='https://github.com/silexlabs/Silex/issues/200', title='about Silex and Javascript', target='_blank') Help
    .ace-editor
    .dock-btn.buttons
    .close-btn.js-editor-close-btn.buttons

  // text editor
  .silex-text-editor.notranslate.hidden-dialog
    .toolbar
    #text-editor.text-field
    .close-btn.text-editor-close-btn.buttons
