<div id="<%= uid %>"></div>
<style type="text/css">
  .silex-runtime .hero-scroll {
    cursor: pointer;
  }
  .silex-runtime .hero-bottom {
    bottom: 0;
    top: initial;
  }
  .silex-runtime .hero-right {
    right: 0;
    left: initial;
  }
</style>
<script type="text/javascript">
(function() {
    // do nothing when inside silex editor
    if(!$('body').hasClass('silex-runtime')) return;
    // retrieve the section HTML elements
    var el = document.getElementById('<%= uid %>');
    var sectionContent = el.parentNode;
    var section = sectionContent.parentNode;
    function fullHeight<%= uid %>() {
        var RATIO = 1; // 3/4
        // do nothing in mobile version
        if($(window).width() < 480) return;
        // if this is a section, get its content container's min-height and apply it to the section
        // so that the section has a minimum height
        var minHeight = sectionContent.length ? sectionContent.css('min-height') : '0';
        $(section).css({
          'height': $(window).height()*RATIO,
          'min-height': minHeight
        });
        $(section).find('.hero-center').each(function() {
            var elementMinHeight = $(this).css('min-height');
            $(this).css({
                'top': '50%',
                'margin-top': Math.round(-parseInt(elementMinHeight) / 2) + 'px'
            });
        });
    }
    $(window).resize(fullHeight<%= uid %>);
    $(window).ready(fullHeight<%= uid %>);
    $(window).ready(function() {
        var height = Math.max(
          Math.round(parseInt($(section).css('min-height'))),
          Math.round(parseInt($(section).css('height')))
        );
        $(section).find('.hero-scroll').click(function() {
            var container = $('html,body');
            container.animate({
                scrollTop: height - container.offset().top + container.scrollTop()
            });
        });
    });
})();
</script>
